<h4><a href="{{trial.url}}" target="blank">{{trial.title}}</a></h4>
<p class="lead">{{trial.topic}}</p>
<table class="table table-bordered table-hover ">
    <thead>
        <tr class="primary">
            <th>Gender</th>
            <th>Last changed date</th>
            <th>Start date</th>
            <th>Study type</th>
            <th>Overall status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-lg-1">{{trial.gender}}</td>
            <td class="col-lg-2">{{trial.lastchanged_date}}</td>
            <td class="col-lg-2">{{trial.start_date}}</td>
            <td class="col-lg-2">{{trial.study_type}}</td>
            <td class="col-lg-2">{{trial.overall_status}}</td>
        </tr>
    </tbody>
</table>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Summary</h3>
    </div>
    <div class="panel-body">
        {{trial.brief_summary}}
    </div>
</div>
