<h2>Clinical Trials</h2>
<div class="pull-right">
    <ul class="pager">
        <li ng-class="{ 'disabled' : currentPage == 0 }"><a ng-click="currentPage > 0 && prevPage()">&larr; Previous</a></li>
        <li ng-class="{ 'disabled' : currentPage == maxPage }"><a ng-click="currentPage < maxPage && nextPage()">Next &rarr;</a></li>
    </ul>
</div>
<div>Results: {{trialsNumber}}<div class="small">Showing results: {{ currentPage *limit}} - {{currentPage*limit + limit}}</div></div>
<table class="table table-striped table-hover ">
    <thead>
        <tr class="primary">
            <th>NCTID</th>
            <th>Title</th>
            <th>Topic</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="trial in trials">
            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><a href="https://clinicaltrials.gov/ct2/show/{{trial.nctid}}" target="blank">{{trial.nctid}}</a></td>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{trial.title}}</td>
            <td class="col-lg-4 col-md-4 col-sm-4 col-xs-4">{{trial.topic}}</td>
            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><button class="btn btn-sm btn-primary" ng-click="goToTrial(trial.nctid)">View</button></td>
        </tr>
    </tbody>
</table>
<!-- <ul class="pagination pagination-sm pull-right">
    <li ng-class="{ 'disabled' : currentPage == 0 }"><a ng-click="currentPage > 0 && prevPage()">&laquo;</a></li>
    <li ng-class="{ 'active' : currentPage == 1 }"><a ng-click="goPage(1)">1</a></li>
    <li ng-class="{ 'active' : currentPage == 2 }"><a ng-click="goPage(2)">2</a></li>
    <li ng-class="{ 'active' : currentPage == 3 }"><a ng-click="goPage(3)">3</a></li>
    <li ng-class="{ 'active' : currentPage == 4 }"><a ng-click="goPage(4)">4</a></li>
    <li ng-class="{ 'active' : currentPage == 5 }"><a ng-click="goPage(5)">5</a></li>
    <li ng-class="{ 'disabled' : currentPage == maxPage }"><a ng-click="currentPage < maxPage && nextPage()">&raquo;</a></li>
</ul> -->
